@model HouseOwage.Models.User
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Login</h1>
</div>

<div class="row">

    @using (Html.BeginForm("MyDashboard", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", @class = "form-control", type = "password" })
        </div>


        if (ViewBag.LoginError != null)
        {
            <div class="row">
                <span>@ViewBag.LoginError</span>
            </div>
        }
        <div class="form-group">
            <button class="btn btn-default" type="submit">Login</button>
        </div>
    }
</div>